<ul>
    <li><%= link_to 'Parking', parking_path %></li>
    <li><%= link_to 'Alarms', alarms_path %></li>
    <li><%= link_to 'Kitchen', kitchen_path %></li>
    <li><%= link_to 'Doors', doors_path %></li>
    <li><%= link_to 'Bathrooms', bathrooms_path %></li>
    <li><%= link_to 'Rubbish and Recycling', rubbish_path %></li>
    <li><%= link_to 'Front shed', shed_path %></li>
    <li><%= link_to 'Living Room', living_room_path %></li>
    <li><%= link_to 'Heat and Water controls', controls_path %></li>
</ul>